header {
  z-index:1;
  height:100vh;
  width:100%;
  background-color:#1D1F33;
}
a {
  color:white;
  text-decoration:none;
}

#left-arrow{
  display:none;
}

.background-overlay{
  z-index:0;
  background-color: rgba(16, 19, 30, 0.71);
  height:100vh;
}
.main-block{
  float:left;
  height:100vh;
  width:60%;
  background-image: url("assets/bwmodel.jpeg");
  background-size:cover;
  background-position:center center;

}
.slide-menu{
  position:fixed;
  left:60%;
  width:40%;
  height:100vh;
  background-color:#1D1F33;
  font-family: 'Spartan', sans-serif;
}

.headnav{

}

.headnav ul {
  color:white;
  width:100%;
  float:left;
  padding-left:15%;
  padding-bottom:3vh;
}

.headnav li{
  padding:1.5rem;
  padding-right:2rem;
  display:inline-block;
  float:left;
}
.headnav li:hover{
  color:#FFB838;
}
.logo-line{
  height:20vh;
  padding-bottom:2vh;
}
.logo-line h1 {
  padding-top:7vh;
  text-align:center;
  font-size:4rem;
  font-family: 'Great Vibes', sans-serif;
  color:#FFB838;
}
.logo-line h2{
  font-weight:800;
  color:white;
  text-align:right;
  padding-right:4.5vw;
}

.signup-form {
  background-color:#252B3D;
  margin:4.5vh 10%;
  margin-bottom:4vh;
  width:80%;
  height:55vh;
}
.signup-form-text{
  padding:4vh 2vw;
}
.signup-form h1 {
  font-size:1.5rem;
  color:#FFB838;
}
.signup-form h2{
  color:white;
  font-size:1rem;
  line-height:2rem;
}
.signup-form h3 {
  font-size:.9rem;
  color:#FFB838;
  line-height:1rem;
  padding-bottom:3vh;
}

.signup-form input{
  font-family: 'Spartan', sans-serif;
  width:93%;
  background-color:#C8C8C8;
  height:8vh;
  margin-bottom:1vh;
  padding-left:5%;
  font-size:.9rem;
}

#submit {
  float:right;
  width:50%;
  background-color:#DAA13A;
  text-align: center;
  padding:3vh 1vw;
}
#submit:hover {
  background-color:#A47623;
}

#label{
  display: inline-block;
  padding-top:2.5vh;
  height:5vh;
  width:90%;
  float:right;
  font-size:.8rem;
  color:white;
}
#check{
  float:left;
  width:10%;
  height:1rem;
  margin:0;
}
.listitem{
  color:white;
  margin:1vh 10%;
  font-size:.9rem;
  line-height:1.8;
}

/* Left block */

.close-item{
  margin-left:90%;
  color:white;
  font-size:1.5rem;
}
.fa.fa-bars{
  position:fixed;
  left:53.5%;
  background-color:#1D1F33;
  padding: 2rem;
  height:3.5vh;
}
.fa.fa-bars:hover{
  color:#FFB838;
  cursor: pointer;
}
#left-arrow{
  position:fixed;
  left:92%;
  background-color:#252B3D;
  padding: 1.5rem;
  margin-top:2rem;
  height:3.5vh;
}

.main-center{
  height:83vh;
}
.testimonial-line{
  display:inline-block;
  padding:.7rem;
  height:12.5vh;
  width:100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.imgbox{
  float:left;
  margin-left: 2vw;
  width:7vw;
  height:7vw;
  background-image: url('assets/profilepic1.jpeg');
  background-size: cover;
}
.textwrap{
  color:white;
  font-family: 'Spartan', sans-serif;
  line-height:1.5;
  width:25vw;
  padding-top:4vh;
  padding-left:12vw;
}
.textwrap h2{
  text-align:right;
}

main {
  width:100%;
  height:100vh;
  background-color: #252B3D;
}
